.img_overlay{
    position: relative;
}
.img_overlay::before{
    position: absolute;
    content:"";
    left:0;
    top:0;
    width:100%;
    height:0%;
    background-color:#2fa2dfa1;
    opacity:0;
    transition:0.5s;
}
.full_box:hover .img_overlay::before{
    opacity:1;
    height:100%;
}